:root {
    --banner-color: #4e2a58;
    --white: #FAF9F6;
}

* {
    text-align: center;
}

a {
    color: var(--white);
}

body header img {
    border-radius: 100%;
    margin: 20px;
    width: 200px;
}

footer,
header {
    padding: 40px;
    background: var(--banner-color);
    color: var(--white);
}

main {
    padding: 60px;
    margin: 0px;
    background-color: var(--white);
    justify-content: space-between;
}

main h2 + p {
    justify-content: center;
    padding-bottom: 25px;
}

header {
    padding: 80px;
}

.card {
    display: grid;
    /* grid-template-columns: repeat(auto-fill,minmax(160px, 1fr)); */
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 200px;
}
