:root {
    --banner-color: #4e2a58;
    --white: #FAF9F6;
}

* {
    text-align: center;
}

a {
    color: var(--white);
}

body header img {
    border-radius: 100%;
    margin: 20px;
    width: 200px;
}

footer,
header {
    padding: 40px;
    background: var(--banner-color);
    color: var(--white);
}

footer {
    padding-top: 50px;
}

main {
    padding: 60px;
    margin: 0px;
    background-color: var(--white);
    justify-content: space-between;
}

main h2 + p {
    justify-content: center;
    padding-bottom: 25px;
}

header {
    padding: 80px;
}

/* Conforms main body section into a basic grid. */
.card {
    display: grid;
    grid-template-columns: minmax(250px, 500px) repeat(2, 1fr) 200px;
    grid-auto-rows: minmax(100px, auto);
    grid-column-gap: 10px;
    grid-row-gap: 2em;
}

.card article, aside {
    border-color: pink;
    border-style: dashed;
    border-width: 5px;
    padding: 10px;
}

.card a {
    color: black;
}

.column-left {
    grid-column: 1 / 3;
}

.column-right {
    grid-column: 4;
    grid-row: 1 / 5;
}

/* Tried implementing nth-child for simplicity, is not working for whatever reason */
h3:nth-child(2) {
    display: none;
    padding: 1% 0; 
}

/* Defines new layout for smaller screens. */
@media screen and (max-width: 992px) {
    .card {
        /* Arranges grid into vertical stacks. */
        grid-template-columns: 1;
        grid-template-columns: 100%;
        grid-row-gap: 2em;
    }
    .column-left,
    .column-right {
        grid-column: 1 / 1;
    }
    #a1 {
        grid-row: 1/2;
    }
    #a2 {
        grid-row: 2/3;
    }
    #side-bar {
        grid-row: 3/4;
    }
}